*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;

}
h1 {
    font-family: "Amarante", serif;
}
h2, h3, h4, h5, h6{
    font-family: "Big Shoulders", sans-serif;
}
body {
    font-size: 1.6rem;
    font-family: "Big Shoulders", sans-serif;
}
input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
} 
/* Dung chung */
.container {
   width: 1170px;
   max-width: calc(100% - 48px);
   margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
        /* header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header__inner{
    display: flex;
    justify-content: center;
    align-items: center;
   
}.header__img{
    width: 114%;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the section */
}
.decor{
    padding-top: 10px;
}
.section__heading{
    font-family: Amarante;
    font-weight: 400;
    font-size:3.2rem;
    line-height: 1;
    text-align: center;
    background: linear-gradient(to bottom, #E55C27, #89300B, #040404);
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-top:10px;
}
.box {
    border-radius: 20px;
    background:rgba(245, 223, 164, 0.85);
    margin: 0 auto; /* Center the box */
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the box */
    text-align: center; /* Ensure text is centered */
}
.box__heading {
    font-weight: 300;
    font-size: 1.1rem ;
    line-height: 1.19;
    letter-spacing: 1;
    text-align: center;
    margin: 16px;
    color: #fff;
}

.box__desc {
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.19;
    margin: 16px;
    color: #fff;
}
/* footer */
.main__menu {
    position: relative;
    padding: 5px 0;
}

.main__menu::before,
.main__menu::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(to right, #561E07, #96350C, #A2390D, #89300B, #561E07);
}

.main__menu::before {
    top: 0;
}

.main__menu::after {
    bottom: 0;
}

/* .footer .navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .footer .navbar__item {
  display: flex;
  align-items: center;
} */

/* .footer .navbar__icon {
  margin-right: 8px;
} */

.navbar{
    padding-left: 4px;
}

.navbar__icon{
    font-size: 1.1rem;
}
.navbar__link{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1;
    color: hsla(0, 0%, 100%, 0.921);    
}
/* .navbar__link{
    padding: 8px;
} */
.btn__right{
    padding: 8px;
}

/* Navbar */
.nav__item{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__list{
    padding: 5px;
}
.page__one{
    padding: 30px 0 10px;
}
.nav__desc {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1;
    color: #FFFFFF;    
    margin-left: 2px;
}
/* Trang 1 */
.page__one-heading {
    padding: 20px 0;
}
.page__one-text{
    color: #BC420F;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1;
    
}
.kc {
    margin-left: 50px;
    margin-top:10px;
}
.feature__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
   
}
.footer__box{
    margin-top: 30px;
}

.feature__img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* trang 2*/
.content{
    display: flex;
}
.content__heading{
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.5;
    text-align: center;
    color:#BC420F;    
    margin-bottom: 50px;
}
/* row */
.row {
    display: flex;
}
.content__box{
    position: relative;
}
.content__inner{
    background: rgba(188, 66, 15, 1);
    border-radius: 12px;
    position:absolute;
    top: 208px ;
    left: -71px;
    width:200px;
    height: 190px;  
}
.content__desc {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1;
    text-align: center;
    color: #FFFCFCD9;    
    padding: 20px 8px;
}
.hero__content {
    padding-top: 34px;
    margin-left:-10px;
}
.section__hero {
 position: relative;
 top:-66px;
}
.img {
   
    object-fit: cover; /* Ensures the image covers the screen without distortion */
    position: absolute; /* Position the image to cover the screen */
    top: 0;
    left: 0;
    z-index: -2;
}
.row__img{
 top: -32px;
 position: relative;
}
/* Trang 3 */

.media__page3 {
    width: 190px;
    height: 338px;
    margin-top: 20px;
}
.img__page3 {
    border-radius: 20px;
}
