html {
    font-size: 62.5%;

}
body {
    font-size: 1.6rem;
    font-family: "Big Shoulders", sans-serif;
}
.content{
    display: flex;
}
.content__heading{
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.5;
    text-align: center;
    color:#BC420F;    
    margin-bottom: 50px;
}
/* row */
.row {
    display: flex;
}
.content__box{
    position: relative;
}
.content__inner{
    background: rgba(188, 66, 15, 1);
    border-radius: 12px;
    position:absolute;
    top: 208px ;
    left: -71px;
    width:200px;
    height: 190px;  
}
.content__desc {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1;
    text-align: center;
    color: #FFFCFCD9;    
    padding: 20px 8px;
}
.hero__content {
    padding-top: 34px;
    margin-left:-10px;
}
.section__hero {
 position: relative;
 top:-66px;
}
.img {
   
    object-fit: cover; /* Ensures the image covers the screen without distortion */
    position: absolute; /* Position the image to cover the screen */
    top: 0;
    left: 0;
    z-index: -2;
}
.row__img{
 top: -32px;
 position: relative;
}

