html {
    font-size: 62.5%;

}
body {
    font-size: 1.6rem;
    font-family: "Big Shoulders", sans-serif;
}
.media__page3 {
    width: 190px;
    height: 338px;
    margin-top: 20px;
}
.img__page3 {
    border-radius: 20px;
}